/* carousel */
.carousel{ 
   display: flex;
   align-items:flex-start;
   height: 45rem;
   width: 100%;
   position: relative;
}

.carousel__list{
   display: flex;
   width: 100%;
   justify-content: center;
   perspective: 30rem;
}
.carousel__item{
   cursor: pointer;
   width: 94rem;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   justify-content: center;
   background-color: #1F2023;
   border: 0.1rem solid rgba(255, 255, 255, 0.1);
   padding: 7rem 12rem;
   border-radius: 3rem;
   box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
   transition: all .3s ease-in;
   position: absolute;
   top: 0;
}
.carousel__item-light{
   background-color:#F3F3F3;
}
.carousel__title{
   line-height: 7rem;
   font-size: 6rem;
   font-weight: 700;
   color:#fff;
}
.carousel__item-light>.carousel__title{
   color:#1F2023;
}
.carousel__text{
   margin-top: 3.1rem;
   font-size: 3.6rem;
   font-weight: 500;
   color:rgba(255, 255, 255, 0.502)
}
.carousel__item-light>.carousel__text{
   color:rgba(31, 32, 35, 0.5);

}

.carousel__item>.gradient-btn{
   margin-top: 6.8rem;
}

div[data-pos="0"] {
   z-index: 5;
 }
 
 div[data-pos="-1"] {
   transform: translateX(13%) scale(.9);
   z-index: 4;
 }
 
 div[data-pos="1"] {
   transform: translateX(-13%) scale(.9);
   z-index: 4;
 }
 
 div[data-pos="-2"] {
   transform: translateX(25%) scale(.8);
   z-index: 3;
 }
 
div[data-pos="2"] {
   transform: translateX(-25%) scale(.8);
   z-index: 3;
 }

 .carousel__decor-up{
   position: absolute;
   left: -4%;
   top: -12%;
   transform: rotate(344deg);
}

.carousel__decor-down{
   z-index: -1;
   position: absolute;
   right: 0;
   bottom: -15%;
}

 @media (min-width: 1024px) and (max-width: 1439px){
   .carousel__item{
      width: 90rem;
      padding: 6rem 9rem;
   }
}