@import 'zeroing';
@import 'carousel';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');

body {
   font-family: Montserrat, Arial, sans-serif;
   background: linear-gradient(90deg, #000000 10.73%, #202124 75.89%);
   color: rgba(255, 255, 255, 0.37);
}

.container {
   max-width: 172rem;
   margin: 0 auto;
}

.gradient-btn{
   color:#fff;
   padding: 2rem 10rem;
   font-size: 3.6rem;
   font-weight: 700;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
   border-radius: 1rem;
   background: linear-gradient(100.82deg, #F03D52 -4.12%, #4D266B 100.48%);
   box-shadow: 0px 8px 15px 2px rgba(0, 0, 0, 0.42);
}

.order__error{
   display: block;
   font-size: 1.4rem;
   position: absolute;
   left: 0;
   bottom: -2rem;
   color: rgb(214, 106, 106);   
   text-align: center;
}

/* style header */
.header{
   position: sticky;
   top:0;
   z-index: 1000;
   display: flex;
   padding-top: 7rem;
   justify-content: space-between;
   align-items: center;
   font-size: 2rem; 
}

.logo{
   max-width: 22.2rem;
   transition: opacity 0.6s;
}

.menu{
   display: flex;
   background-color:#202124;
   padding: 1.5rem;
   border-radius:1rem;
   justify-content: center;
   align-items: center;
}

.menu__list{
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
   align-items:flex-end;
   justify-content: center;
}

.footer{
   padding: 12rem 0;
   font-size: 2rem;
   display: flex;
   justify-content: space-between;
   align-items:center
}

.menu__item{
   display: flex;
   align-items:center;
}

.menu__item--active{
   color:#fff;
}

.menu__item:nth-child(n+1){   
   margin-top: 1rem;
}

.menu__circle{
   display: block;
   content: '';
   width: 0.6rem;
   height: 0.6rem;
   border-radius: 0.6rem;
   margin-left: 1rem;
   opacity: 0;
   background: linear-gradient(113.2deg, #F03D52 0.83%, #4D266B 97.5%);
}

.menu__item--active>.menu__circle{
   opacity: 1;
}

main{
   margin-top: 13.2rem;
}

.carouselSec{
   position: relative;
}

.carousel__decor-up{
   position: absolute;
   transform: rotate(-5deg);
   left: 0;
   top:-10%;
}

.carousel__decor-down{
   z-index: -1;
   position: absolute;
   right: 0;
   bottom: -15%;
}

.box-header{
   align-items:center;
   display: flex;
 }

.title{
   font-size: 12.8rem;
   font-weight: 700;
   color: #1F2023;
   text-transform: uppercase;
}

.decor-line{
   margin-left: 17rem;
   justify-self: flex-end;  
   max-width: 81rem;
   width: 100%;
   height: 0.1rem;
   background: linear-gradient(100.82deg, #F03D52 -4.12%, #4D266B 100.48%);
}

.box-main{
   margin-top: 15rem;
   display: flex; 
   align-items:center;
   justify-content: space-evenly;
}

.box-main__decorImg{
   width: 100%;
   max-width: 17rem;
   height: 100%;
}

.box-main__textDecor{
   position: relative;
   display: flex;
  
}
.box-main__decor{
   background-color: #1F2023;
   z-index: -1;
   border-radius: 1rem;
   width: 10rem;
   height: 10rem;
   position: absolute;
   top:-5%;
   left: -5%;
}
.box-main__text{
   font-size: 2.4rem;
   line-height: 6.6rem;
   font-weight: 300;
   max-width: 80rem;
}

.box-main__decor-line{
   margin-top: 4.5rem;
   display: block;
   width: 100%;
   height: 0.2rem;
   background-color: #1F2023;
}

.aboutUs{
    margin-top: 37rem;
 }

 .decor-ball{
    width: 18rem;
    height: 18rem;
    background-color:#1F2023;
    border-radius: 90rem;
    position: absolute;
    bottom: -20%;
    right: 20%;
 }

.slider{
   display: flex;
   overflow: hidden;
   margin-top: 30rem;
}

.slider__cont{
   display: flex;
}

.slider__slide{  
   display: flex;
}

.slider__item{
   display: flex;
   align-items:center;
   justify-content: center;
   background: linear-gradient(161.05deg, #000000 8.5%, #202124 168.16%);
   box-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
   border-radius: 3rem;
   margin: 0 14rem;
   padding: 15rem 8rem;
   width: 38rem;
   height: 38rem;
}

.slider__img{
   width: 22rem;
}

.services{
   margin-top: 21rem;
   display: flex;
   flex-direction: column;
}
.services__cards{
   margin-top: 6rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.employee-card{
   display: block;
   position: relative;
   padding-bottom: 4.8rem;
   border-bottom: 0.1rem solid#1F2023;
   max-width: 43rem;
   margin: 15rem 13rem;
}
.employee-card__title{
   color:#fff;
   font-size: 4.8rem;
   font-weight: 700;
}

.employee-card__text{
   margin-top: 4.8rem;
   font-size: 2.4rem;
   line-height: 6.6rem;
   font-weight: 300;
}
.employee-card__img{
   position: relative;
   width: 10rem;
   height: 100%;
}

.empoyee__boxImg{
   position: absolute;
   bottom:-15%;
   right: 10%;
   display: flex;
   justify-content: center;
   align-items:center;
   padding: 3.5rem;
   max-width: 18rem;
   background-color:#1F2023;
   border-radius: 9rem;
}

.services__info{
   align-self: center;
   text-align: center;
   max-width: 120rem;
   padding: 0 1rem;
   font-size: 3.6rem;
   line-height: 6.6rem;
   margin-top: 33rem;
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: center;
}

.services__info>.gradient-btn{
   margin-top: 9rem;
}
.contacts{
   margin-top: 36rem;
}

.contacts__main{
   display: flex;
   justify-content: space-evenly;
   margin-top: 21rem;
}

.contacts__info{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: 3.6rem;
   line-height: 5.6rem;
   max-width: 70rem;
}

.contacts__title{
   color:#fff;
   font-weight: 700;
}
.contacts__text{
   font-weight: 300;
   color: #F3DCD4;
}
.contacts__text-link{
   font-weight: 700;
   background: linear-gradient(96.39deg, #F03D52 -24.67%, #4D266B 101.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F03D52;
  margin: 20px auto;
}

.contacts__form{
   display: flex;
   flex-direction: column;
}

.contacts__form-input{
   padding: 3rem 2rem;
   background-color: inherit;
   border: 0.1rem solid rgba(255, 255, 255, 0.1);
   border-radius: 1rem;
   color:#fff;
   font-size: 2.4rem;
}
.contacts__form-input:nth-child(n+2){
   margin-top: 2rem;
}
.contacts__form-input::placeholder{
   font-weight: 300;
}
.contacts__form>.gradient-btn{
   margin-top: 2rem;
}

.map{
   position: relative;
   margin-top: 21rem;
}

.map__yandex{
   height: 90rem;
   width: 100%;
}

[class*="ymaps-2-1"][class*="-ground-pane"] {
   -webkit-filter:grayscale(1) brightness(1) invert(1);
}
.ymaps-2-1-79-copyrights-pane{
   opacity: 0;
}
.contacts__background{
   display: flex;
   top: 0;
   width: 100%;
   height: 90rem;
   position: absolute;
   align-items:center;
   justify-content: space-evenly;
   background: linear-gradient(99.06deg, #000000 32.33%, rgba(0, 0, 0, 0.36) 62.05%);
}
.map__cont{
   width: 41%;
   font-size: 3.6rem;
   display: flex;
   flex-direction: column;
}
.contacts__empty{
   display: block;
   width: 41%;
}

.map__tel{
   display: flex;
   align-items:center;
}

.map__tele-link{
   margin-left: 2rem;
   font-weight: 700;
   background: linear-gradient(96.39deg, #F03D52 -24.67%, #4D266B 101.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.map__address{
   margin-top: 6rem;
}

.map__cont-link{
   color: #fff;
   font-weight: 500;
   line-height: 6.6rem;
}

.map__mail{
   margin-top: 6rem;
}

@media (min-width: 1200px) and (max-width: 1720px) {
   html{
      font-size: 60%;
   }

}